.card_1 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}
h2{
    width: 30%;
}
.item_card {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    flex: 0 0 auto;
    background: white;
}

.item-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img {
    height: 50%;
    overflow: hidden;    /* evita imagens distorcidas */
}

.item_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* imagem preenche sem deformar */
}
.n{
    color: black;
}