{% extends 'base.html' %}

{% block content %}
<h2>Adicionar Música</h2>
<div>
    <form method="POST">
        <label>Nome:</label>
        <input type="text" name="nome" required>

        <label>Artista:</label>
        <input type="text" name="artista" required>

        <label>Álbum:</label>
        <input type="text" name="album">

        <label>Ano de lançamento:</label>
        <input type="text" name="ano">

        <label>URL da imagem:</label>
        <input type="text" name="url_img" required>

        <button type="submit">Salvar</button>
    </form>
</div>
{% endblock %}
