{% extends 'base.html' %}

{% block content %}
<div class="paizao">
    <div class="usuario">
        <h2>Adicionar artista</h2>
        <div>
            <form method="POST">
                <label>Nome:</label>
                <input type="text" name="nome" required>

                <label>Sobrenome:</label>
                <input type="text" name="sobrenome" required>

                <label>Data_nascimento:</label>
                <input type="date" name="data_nascimento">

                <label>URL da imagem:</label>
                <input type="text" name="url_img" required>

                <button type="submit">Salvar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
