<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/listar_musicas.css">
    <link rel="stylesheet" href="../static/adicionar_musica.css">
    <link rel="stylesheet" href="../static/adicionar_artista.css">
    <link rel="stylesheet" href="../static/listar_artistas.css">

</head>

<body>

<!-- Aqui é a casca do pão que nunca muda -->
    <div class="navbar">
        <h1>Tunix</h1>
        <ul class="pai">
            <li><a class="pai_link" href="{{ url_for('pagina_inicial') }}">Página inicial</a></li>
            <li><a href="{{ url_for('listar_musicas') }}">Listar musicas</a></li>
            <li><a href="{{ url_for('adicionar_musica') }}">Adicionar musica</a></li>
            <li><a href="{{ url_for('listar_artistas') }}">Listar artista</a></li>
            <li><a href="{{ url_for('adicionar_artista') }}">Adicionar artista</a></li>

        </ul>
    </div>

    {% block content %}


    {%endblock content%}


</body>
</html>