    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="../static/base.css">
    </head>

    <body>
    <!-- Aqui é a casca do pão que nunca muda -->
        <div class="navbar">
            <h1>Site de receitas</h1>
            <ul class="pai">
                <li><a class="pai_link" href="/">Página inicial</a></li>
                <li><a href="/musicas">Listar musicas</a></li>
                <li><a href="/adicionar_musica">Adicionar musica</a></li>
            </ul>
        </div>
    <!-- Esse é o espaço onde o conteúdo não muda -->

    {% block content %}

    <!-- Aqui é as fatias que eu posso mudar-->


    {%endblock content%}


    </body>
    </html>