{% extends "base.html" %}

{% block content %}
<div class="paizao">
    <h2>Editar Artista</h2>

    <form method="POST">

        <label for="nome">Nome do artista:</label>
        <input type="text" id="nome" name="nome" value="{{ artista.nome }}" required>

        <label for="pais">País:</label>
        <input type="text" id="pais" name="pais" value="{{ artista.pais }}">

        <label for="genero">Gênero musical:</label>
        <input type="text" id="genero" name="genero" value="{{ artista.genero }}">

        <label for="foto">URL da foto:</label>
        <input type="text" id="foto" name="foto" value="{{ artista.foto }}">

        <label for="descricao">Descrição / Biografia:</label>
        <textarea id="descricao" name="descricao">{{ artista.descricao }}</textarea>

        <button type="submit">Salvar alterações</button>
    </form>
</div>
{% endblock %}
