{% extends 'base.html' %}

{% block content %}
<div class="paizao">
    <div class="usuario">
        <h2>Detalhes da Música</h2>
        <p><b>ID:</b> {{ musica.id }}</p>
        <p><b>Nome:</b> {{ musica.nome }}</p>
        <p><b>Artista:</b> {{ musica.artista }}</p>
        <p class="letras"><b>Letras:</b> {{ musica.letras }}</p>
        <p><b>Álbum:</b> {{ musica.album or '-' }}</p>
        <p><b>Ano de lançamento:</b> {{ musica.ano_lancamento or '-' }}</p>
        <p><b>Curtidas:</b> {{ avaliacoes }}</p>


        <a href="{{ url_for('listar_musicas') }}">Voltar para a lista</a>
    </div>
</div>
{% endblock %}
